<app-header></app-header>
<div class="bg">
  <div class="container">
    <div class="title">
      <h2 class='text-center'>Resume</h2>
    </div>

    <a class='pdf-link' href="../../assets/images/Resume.pdf">Michael Campbell Resume PDF</a>


  </div>
</div>


<!-- 

Michael Campbell
Web Developer

https://mvcampbellthree.netlify.com/

6105 Raleigh Street
Apt. 309
Orlando, Fl, 32835
(321) 704-5545
mvcampbell3@gmail.com

Projects
Rover-Reddit, MERN Stack Application
May 2019
Uses the NASA Open API to deliver to users the entire catalog of rover images. Also scrapes space.com/news to deliver articles. Images and articles can be saved, shared, and commented on by users.
https://rover-reddit.herokuapp.com/
https://github.com/DavidWeid/Space-Pair-Project

Teammate Finder, MEAN Stack Application
October 2019
This Angular website allows users to track games they play on various consoles and to find others who play those games at a similar skill level.
https://teammate-finder-app.herokuapp.com/
https://github.com/Mvcampbell3/find-a-tm

Yahtzee-React, MERN Stack Application
July 2019
Recreates the classic game of Yahtzee. Uses 3-D CSS animations for rolling the dice. The score is tallied automatically when the player presses the button for the score they want to keep.
https://yahtzee-react.herokuapp.com/
https://github.com/Mvcampbell3/YahtzeeReact

EDUCATION
Brevard Community College, 2011
Associates Degree
UCF Coding Bootcamp, 2019
Certified Graduate


SKILLS


React
Angular
HTML
CSS
Javascript
TypeScript
Node
MySQL
MongoDB
Express

Experience
Trilogy Education
Tutor - Remote
August 2019 - Present

 -->