/* You can add global styles to this file, and also import other style files */
@import './variables.scss';

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;

}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

.text-center{
  text-align: center;
}

.container{
  min-height: calc(100vh - 48px);
  padding: 10px 50px;
  background-color: $bg-primary;
  color: $bg-white;

  @media screen and (max-width: 700px){
    padding: 10px;
  }
}

.title{
  border-bottom: 5px white solid;
  margin: 2em 0;
}