// These are going to the main style variables that we are going to be using throughout our SCSS

// Background-Colors

$bg-primary: #333;
$bg-secondary: rgb(0, 105, 139);
$bg-white: whitesmoke;
$bg-highlight: rgb(85, 255, 158);