// These are going to the main style variables that we are going to be using throughout our SCSS

// Background-Colors

$bg-primary: rgba(17, 17, 17, 0.89);
$bg-secondary: rgb(0, 105, 139);
$bg-white: whitesmoke;
$bg-highlight: rgb(85, 255, 158);
$bg-primarylight: #222;