<div class="container fade-in">
  <div class="grid-holder">
    <div class="piece left-top">
      <a class='home-link' routerLink='/projects'>Projects</a>
    </div>
    <div class="piece center-top"></div>
    <div class="piece right-top">
      <a class='home-link' routerLink='/contact'>Contact</a>
    </div>
    <div class="piece left-center"></div>
    <div class="piece center-center">
      <h3 class='text-center'>Michael Campbell</h3>
      <h5 class='text-center'>Web Developer</h5>
    </div>
    <div class="piece right-center"></div>
    <div class="piece left-bottom">
      <a class='home-link' routerLink='/tech'>Technologies</a>
    </div>
    <div class="piece center-bottom"></div>
    <div class="piece right-bottom">
      <a class='home-link' routerLink='/resume'>Resume</a>
    </div>
  </div>
</div>